<html>
<head>
        <title>
                The Listener in Action
                
        </title>
        <meta http-equiv="refresh" content="5">
        <div style="background-color:black;color:green;padding:300px;">
  <h2>For Better Listening</h2>
  <p>Captures user feedback & drives product improvement</p>
        <p><a href="http://ec2-35-167-24-116.us-west-2.compute.amazonaws.com/index2">batch_processing</a></p> 
        <p><a href="http://ec2-35-167-24-116.us-west-2.compute.amazonaws.com/index">realtime</a></p>
</head>
</div>
<body>
        <div id="membership"></div>
</body>

</body>

</html>

