<html>
<head>
        <title>
                For Better Listening
                
        </title>
        <meta http-equiv="refresh" content="5">
        <div style="background-color:black;color:green;padding:200px;">
  <h2><font size="7", face="helvetica">For Better Listening</font></h2>
  <p><font size="5", face="helvetica">Captures user feedback & drives product improvement</font></p>
        <p><a href="http://ec2-35-167-24-116.us-west-2.compute.amazonaws.com/index2"><font size="5", color="white", face="impact">Batch Processing</font></a></p> 
        <p><a href="http://ec2-35-167-24-116.us-west-2.compute.amazonaws.com/index"><font size="5", color="white", face="impact">Real Time Monitoring</font></a></p>
</head>
</div>
<body>
        <div id="membership"></div>
</body>

</body>

</html>

